<%= form_with(model: trabajo) do |form| %>
  <% if trabajo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trabajo.errors.count, "error") %> prohibited this trabajo from being saved:</h2>

      <ul>
        <% trabajo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :puesto, style: "display: block" %>
    <%= form.text_field :puesto %>
  </div>

  <div>
    <%= form.label :descripción, style: "display: block" %>
    <%= form.text_field :descripción %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
