<p style="color: green"><%= notice %></p>

<%= render @trabajo %>

<div>
  <%= link_to "Edit this trabajo", edit_trabajo_path(@trabajo) %> |
  <%= link_to "Back to trabajos", trabajos_path %>

  <%= button_to "eliminar esta oferta", @trabajo, method: :delete %>
</div>
