<p style="color: green"><%= notice %></p>

<%= render @usuario %>

<div>
  <%= link_to "Editar", edit_usuario_path(@usuario) %> |
  <%= link_to "Regresar", usuarios_path %>

  <%= button_to "Eliminar", @usuario, method: :delete %>
</div>
